Repository Nordix/sles-ironic-python-agent-builder: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Add changes to activate cloud-init is SUSE SLES SP4/SP5
  build_ipa_sles.sh
  cloudinit-patch/cloud-init-break-resolv.patch
  cloudinit-patch/cloud-init-on-tempnet-oci.patch
  cloudinit-patch/cloud-init-sysconf-path.patch
  cloudinit-patch/cloud-init-write-routes.patch
  cloudinit-patch/datasourceLocalDisk.patch
  cloudinit-patch/new-import-opensuse.patch
  ipa_builder_elements/sles-zypper-config/pre-install.d/01-zypper-keep-packages
  ipa_builder_elements/sles/environment.d/10-sles-distro-name.bash
  ipa_builder_elements/sles/root.d/10-sles-image
Due: shellcheck

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: shellcheck, markdownlint

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

SP6 initial setup
  ipa_builder_elements/sles-zypper-config/bin/install-packages
  ipa_builder_elements/sles-zypper-config/post-install.d/10-mkinitrd
  ipa_builder_elements/sles-zypper-config/pre-install.d/01-zypper-keep-packages
  ipa_builder_elements/sles/environment.d/10-sles-distro-name.bash
Due: none

Add extra packages and minimize size
  build_ipa_sles_on_ubuntu.sh
  ipa_builder_elements/sles-extra-hardware/post-install.d/99-package-installs-extra-hardware
  ipa_builder_elements/sles-ipa-install/install.d/ironic-python-agent-ramdisk-source-install/60-ironic-python-agent-ramdisk-install
  ipa_builder_elements/sles-ipa-install/post-install.d/99-remove-extra-packages
  ipa_builder_elements/sles-zypper-config/post-install.d/99-zypper-no-keep-packages
  ipa_builder_elements/sles/environment.d/10-sles-distro-name.bash
Due: shellcheck

Improve SSH and debug control variable names
  README.md
  ipa_builder_elements/sles-ipa-install/post-install.d/99-remove-extra-packages
Due: markdownlint

Add yamllint workflow
  .github/workflows/yamllint.yaml
  .yamllint.yaml
Due: none

Combine ubuntu and centos build scripts
  README.md
  build_ipa_sles.sh
  build_ipa_sles_on_ubuntu.sh
  testenv.sh
Due: shellcheck, markdownlint

add plugin install feature, fix dependencies
  README.md
  build_ipa_sles.sh
  ipa_builder_elements/ipa-plugin-installer/environment.d/10-hw-manager-defaults
  ipa_builder_elements/ipa-plugin-installer/install.d/99-install-hardware-managers
  ipa_builder_elements/ipa-plugin-installer/root.d/99-cp-plugins
  ipa_builder_elements/sles-ipa-install/install.d/ironic-python-agent-ramdisk-source-install/60-ironic-python-agent-ramdisk-install
  ipa_builder_elements/sles/environment.d/10-sles-distro-name.bash
  testenv.sh
Due: shellcheck, markdownlint

Upgrade to SP7
  README.md
  ipa_builder_elements/sles/environment.d/10-sles-distro-name.bash
  testenv.sh
Due: shellcheck, markdownlint

remove conflicting netwrokmanager-ovs package
  ipa_builder_elements/sles-ipa-install/install.d/ironic-python-agent-ramdisk-source-install/60-ironic-python-agent-ramdisk-install
Due: none

Remove cargo toolchains to minimize image
  ipa_builder_elements/sles-ipa-install/post-install.d/99-remove-extra-packages
  ipa_builder_elements/sles-zypper-config/post-install.d/99-zypper-no-keep-packages
Due: none

Bump SLES version to 16.0
  build_ipa_sles.sh
  ipa_builder_elements/sles-extra-hardware/post-install.d/99-package-installs-extra-hardware
  ipa_builder_elements/sles-ipa-install/install.d/ironic-python-agent-ramdisk-source-install/60-ironic-python-agent-ramdisk-install
  ipa_builder_elements/sles-ipa-install/post-install.d/99-remove-extra-packages
  ipa_builder_elements/sles-zypper-config/install.d/01-login-defs
  ipa_builder_elements/sles-zypper-config/post-install.d/10-mkinitrd
  ipa_builder_elements/sles-zypper-config/pre-install.d/01-zypper-keep-packages
  ipa_builder_elements/sles/environment.d/10-sles-distro-name.bash
  ipa_builder_elements/sles/post-install.d/01-copy-etc-files
  ipa_builder_elements/sles/root.d/10-sles-image
Due: shellcheck
