Repository metal3-io/community: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, shellcheck

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.13.0@sha256:9c0cdfb64fd3f1d3bdc5181629b39c2e43b6a52fc9fdc146611e1860845bbae0
  ...

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

Fix wrapping issues in ADOPTERS
  ADOPTERS.md
  hack/markdownlint.sh
Due: markdownlint, shellcheck

add clomonitor badge
  README.md
Due: markdownlint

Add Contributor ladder, contributor role, governance and roadmap document
  CONTRIBUTOR-LADDER.md
  CONTRIBUTOR-ROLE.md
  GOVERNANCE.md
  ROADMAP.md
Due: markdownlint

Add Metal3 website link in README
  README.md
Due: markdownlint

update code of conduct
  CODE_OF_CONDUCT.md
Due: markdownlint

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  ADOPTERS.md
  hack/markdownlint.sh
Due: markdownlint, shellcheck

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

Remove furkatgofurov7 from approvers list
  maintainers/ALL-OWNERS
Due: none

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

add aliases support to all-owners.sh
  maintainers/ALL-OWNERS
  maintainers/all-owners.sh
Due: shellcheck

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

add openssf best practices badge to README
  README.md
Due: markdownlint

update the roadmap description
  ROADMAP.md
Due: markdownlint

Update contributor ladder and contributore role
  CONTRIBUTOR-LADDER.md
  CONTRIBUTOR-ROLE.md
Due: markdownlint

update the all-owners.sh
  .gitignore
  maintainers/ALL-OWNERS
  maintainers/all-owners.sh
Due: shellcheck

add vendor neutrality policy
  VENDOR_NEUTRALITY.md
Due: markdownlint

Update Ericsson link in ADOPTERS.md
  ADOPTERS.md
Due: markdownlint

add Sylva to ADOPTERS
  ADOPTERS.md
Due: markdownlint

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: markdownlint, shellcheck

remove ironic-client from all-owner.sh
  maintainers/all-owners.sh
Due: shellcheck

remove CII Best Practices badge
  README.md
Due: markdownlint

Add Mirantis to Adopers File
  ADOPTERS.md
Due: markdownlint

Move @mboukhalfa to emeritus reviewers
  OWNERS
  OWNERS_ALIASES
  maintainers/ALL-OWNERS
Due: none

update contributor ladder with cherry-pick bot details
  CONTRIBUTOR-LADDER.md
Due: markdownlint

Signed-off-by: Randy Bias <randybias@gmail.com>
  ADOPTERS.md
Due: markdownlint

add LFX project badges to README.md
  README.md
Due: markdownlint

Fix all-owners.sh when it adds new maintainers
  maintainers/all-owners.sh
Due: shellcheck

Add Peppi-Lotta in the ALL-OWNERS file
  maintainers/ALL-OWNERS
Due: none

fix Sunnatillos email in the ALL-OWNERS
  maintainers/ALL-OWNERS
Due: none

update zoom link
  README.md
Due: markdownlint

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
  ADOPTERS.md
Due: markdownlint

add Feruz to ALL-OWNERS
  maintainers/ALL-OWNERS
Due: none

fix all-owners.sh script
  maintainers/all-owners.sh
Due: shellcheck

Consolidate Metal3 Contributing guide
  CONTRIBUTING.md
Due: markdownlint

feat: add Mistral AI to Adopters
  ADOPTERS.md
Due: markdownlint

enforce ol-prefix 'one' style for ordered lists
  .markdownlint-cli2.yaml
Due: none

move security-insights.yml to .github/ and use upstream validator
  .github/security-insights.yml
  .github/workflows/validate-security-insights.yml
Due: none

add zizmor scanner
  .github/workflows/zizmor.yml
Due: none

add dependabot for github-actions
  .github/dependabot.yml
Due: none

update SI org owners list
  .github/security-insights.yml
Due: none

Path conditions:
  markdownlint: any of: (\.md|markdownlint\.sh)$
  shellcheck: any of: ((\.sh)|^Makefile)$
