Repository metal3-io/ironic-hardware-inventory-recorder-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.13.0@sha256:9c0cdfb64fd3f1d3bdc5181629b39c2e43b6a52fc9fdc146611e1860845bbae0
  ...

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: shellcheck, markdownlint

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

add labels to Dockerfile
  Dockerfile
Due: none

archival notice
  README.md
Due: markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
