Repository metal3-io/utility-images: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$

add container build GH action
  .github/workflows/build-images-action.yml
Due: none

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: shellcheck, markdownlint

bump shellcheck to v0.10.0
  hack/shellcheck.sh
Due: shellcheck

Fix the image build for ipxe-builder
  ipxe-builder/Dockerfile
Due: none

Add slack notifiactions for image building failures
  .github/workflows/build-images-action.yml
Due: none

add OWNERS_ALIASES support
  OWNERS
  OWNERS_ALIASES
Due: none

shellcheck only files
  hack/shellcheck.sh
Due: shellcheck

Add fake-ipa
  .gitignore
  fake-ipa/Dockerfile
  fake-ipa/README.md
  fake-ipa/Run-env/01-vm-setup.sh
  fake-ipa/Run-env/02-configure-minikube.sh
  fake-ipa/Run-env/03-images-and-run-local-services.sh
  fake-ipa/Run-env/04-start-minikube.sh
  fake-ipa/Run-env/05-apply-manifests.sh
  fake-ipa/Run-env/Init-environment.sh
  fake-ipa/Run-env/build-sushy-tools-and-fake-ipa-images.sh
  fake-ipa/Run-env/clean.sh
  fake-ipa/conf.py
  fake-ipa/fake_ipa/__init__.py
  fake-ipa/fake_ipa/base.py
  fake-ipa/fake_ipa/clean.py
  fake-ipa/fake_ipa/deploy.py
  fake-ipa/fake_ipa/encoding.py
  fake-ipa/fake_ipa/error.py
  fake-ipa/fake_ipa/fake_agent.py
  fake-ipa/fake_ipa/heartbeater.py
  fake-ipa/fake_ipa/image.py
  fake-ipa/fake_ipa/inspector.py
  fake-ipa/fake_ipa/ironic_api_client.py
  fake-ipa/fake_ipa/log.py
  fake-ipa/fake_ipa/main.py
  fake-ipa/fake_ipa/standby.py
  fake-ipa/requirements.txt
  fake-ipa/setup.cfg
  fake-ipa/setup.py
Due: shellcheck, markdownlint

use external config and network files and some improvments
  .gitignore
  fake-ipa/Dockerfile
  fake-ipa/README.md
  fake-ipa/Run-env/01-vm-setup.sh
  fake-ipa/Run-env/02-configure-minikube.sh
  fake-ipa/Run-env/03-images-and-run-local-services.sh
  fake-ipa/Run-env/04-start-minikube.sh
  fake-ipa/Run-env/05-apply-manifests.sh
  fake-ipa/Run-env/Init-environment.sh
  fake-ipa/Run-env/build-sushy-tools-and-fake-ipa-images.sh
  fake-ipa/Run-env/clean.sh
  fake-ipa/conf.py
  fake-ipa/fake_ipa/base.py
  fake-ipa/fake_ipa/clean.py
  fake-ipa/fake_ipa/deploy.py
  fake-ipa/fake_ipa/encoding.py
  fake-ipa/fake_ipa/error.py
  fake-ipa/fake_ipa/fake_agent.py
  fake-ipa/fake_ipa/heartbeater.py
  fake-ipa/fake_ipa/image.py
  fake-ipa/fake_ipa/inspector.py
  fake-ipa/fake_ipa/ironic_api_client.py
  fake-ipa/fake_ipa/log.py
  fake-ipa/fake_ipa/main.py
  fake-ipa/fake_ipa/standby.py
  fake-ipa/setup.cfg
  fake-ipa/setup.py
Due: shellcheck, markdownlint

Add container images building workflow
  .github/workflows/build-images-action.yml
Due: none

Uplift python requirements for fakeIPA
  fake-ipa/Dockerfile
  fake-ipa/requirements.txt
Due: none

Update readme
  README.md
Due: markdownlint

Loop over interfaces and parameterize the interface name
  fake-ipa/fake_ipa/inspector.py
Due: none

Add copyright to the files
  fake-ipa/fake_ipa/base.py
  fake-ipa/fake_ipa/clean.py
  fake-ipa/fake_ipa/deploy.py
  fake-ipa/fake_ipa/encoding.py
  fake-ipa/fake_ipa/error.py
  fake-ipa/fake_ipa/fake_agent.py
  fake-ipa/fake_ipa/heartbeater.py
  fake-ipa/fake_ipa/image.py
  fake-ipa/fake_ipa/inspector.py
  fake-ipa/fake_ipa/ironic_api_client.py
  fake-ipa/fake_ipa/log.py
  fake-ipa/fake_ipa/main.py
  fake-ipa/fake_ipa/standby.py
Due: none

Edit fakeIPA default config
  fake-ipa/conf.py
Due: none

bump markdownlint-cli2 to v0.12.0
  hack/markdownlint.sh
Due: shellcheck, markdownlint

Use https with heartbeating
  fake-ipa/fake_ipa/heartbeater.py
Due: none

add missing DCO file to repo root
  DCO
Due: none

Add option to enable TLS
  fake-ipa/fake_ipa/heartbeater.py
  fake-ipa/fake_ipa/main.py
Due: none

move keepalived here from BMO repo
  .github/workflows/build-images-action.yml
  README.md
  keepalived/Dockerfile
  keepalived/configure-nonroot.sh
  keepalived/manage-keepalived.sh
  keepalived/sample.keepalived.conf
Due: shellcheck, markdownlint

add basic pr workflows
  .github/workflows/pr-gh-workflow-approve.yaml
  .github/workflows/pr-verifier.yaml
Due: none

move mboukhalfa to emeritus reviewers
  OWNERS
  OWNERS_ALIASES
Due: none

add dependabot config for github actions
  .github/dependabot.yml
Due: none

group all github action bumps into single PR
  .github/dependabot.yml
Due: none

move unmodified keepalived container from BMO repo
  keepalived/Dockerfile
  keepalived/configure-nonroot.sh
  keepalived/manage-keepalived.sh
  keepalived/sample.keepalived.conf
Due: shellcheck

add keepalived image build workflow
  .github/workflows/build-images-action.yml
Due: none

add read-only file-system support for keepalived
  README.md
  keepalived/manage-keepalived.sh
Due: shellcheck, markdownlint

add labels to Dockerfiles
  fake-ipa/Dockerfile
  ipxe-builder/Dockerfile
  keepalived/Dockerfile
Due: none

fix the use of the embed script in iPXE builder
  ipxe-builder/buildipxe.sh
Due: shellcheck

bump requests in fake-ipa to 2.32.4
  fake-ipa/requirements.txt
Due: none

Fix starting keepalived as a non-root user
  keepalived/configure-nonroot.sh
Due: shellcheck

Add path to FAKE_IPA_CERTFILE and FAKE_IPA_KEYFILE for redfish ssl to work
  fake-ipa/conf.py
Due: none

Add yamllint workflow
  .github/workflows/yamllint.yaml
  .yamllint.yaml
Due: none

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
Due: none

enable container signing
  .github/workflows/build-images-action.yml
Due: none

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
Due: none

add AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: markdownlint

Add a tool to collect cloud-init logs
  .github/workflows/build-images-action.yml
  cloud-init-tool/Dockerfile
  cloud-init-tool/README.md
  cloud-init-tool/main.py
Due: markdownlint
