Repository metal3-io/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/shellcheck.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/koalaman/shellcheck-alpine:v0.9.0@sha256:e19ed93c22423970d56568e171b4512c9244fc75dd9114045016b4a0073ac4b7
  ...

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint:0.13.0@sha256:9c0cdfb64fd3f1d3bdc5181629b39c2e43b6a52fc9fdc146611e1860845bbae0
  ...

OCPBUGS-9303: include the secure boot retry
  main-packages-list.ocp
Due: none

Updating ironic-container image to be consistent with ART Reconciling with https://github.com/openshift/ocp-build-data/tree/c78b2b27f47b41d5d59449c863f3dea6eaa988b7/images/ironic.yml
  Dockerfile.ocp
Due: none

Add openstacksdk to sushy-tools container image
  resources/sushy-tools/Dockerfile
Due: none

Pin ironic and ironic-inspector for release-23.1
  Dockerfile
Due: none

[DNM] TEST CI release-23.1
  Dockerfile
Due: none

add clomonitor badge to README
  README.md
Due: markdownlint

OCPBUGS-25392: Stuck deployment
  main-packages-list.ocp
Due: none

Update sushy-tools to 1.1.0
  resources/sushy-tools/Dockerfile
Due: none

Add requirements placeholders for cachito
  requirements-build.cachito
  requirements.cachito
  setup.cfg
  setup.py
Due: none

Revert "introduction of custom iPXE firmware support"
  Dockerfile
  ironic-config/apache2-ipxe.conf.j2
  ironic-config/dnsmasq.conf.j2
  ironic-config/ipxe_config.template
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
  scripts/rundnsmasq
  scripts/runhttpd
  scripts/tls-common.sh
Due: shellcheck

add condition for ipxe_tls template usage
  ironic-config/ironic.conf.j2
Due: none

Relax packages requirements
  main-packages-list.ocp
Due: none

[OCP] Remove upstream-only files
  .github/workflows/build-images-action.yml
  docs/releasing.md
  upper-constraints.txt
Due: markdownlint

Fix invalid iPXE TLS variables
  scripts/tls-common.sh
Due: shellcheck

add OpenSSF Scorecard badge to README
  README.md
Due: markdownlint

add pull request template and workflow to verify it
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-verifier.yaml
Due: markdownlint

Set require_managed_boot to False
  ironic-config/ironic.conf.j2
Due: none

use IRONIC_URL_HOST instead of IRONIC_IP in inspector iPXE config to account for IPv6 addresses
  ironic-config/inspector.ipxe.j2
Due: none

Add tag trigger to images building wf
  .github/workflows/build-images-action.yml
Due: none

Use bookworm slim to build sushy-tools image
  resources/sushy-tools/Dockerfile
Due: none

reduce github actions permissions
  .github/workflows/build-images-action.yml
  .github/workflows/pr-verifier.yaml
Due: none

Update packages for OCP 4.16
  main-packages-list.ocp
Due: none

Backward compable callback endpoint when Inspector is off
  Dockerfile
  configure-nonroot.sh
  ironic-config/apache2-inspector-compat.conf.j2
  scripts/runhttpd
  scripts/runironic-inspector
Due: shellcheck

DNM test inspector compat
  scripts/ironic-common.sh
  scripts/runhttpd
Due: shellcheck

switch markdownlint container to markdownlint-cli2
  .markdownlint-cli2.yaml
  hack/markdownlint.sh
Due: shellcheck, markdownlint

WIP: do not merge, testing the integration flow
  configure-nonroot.sh
Due: shellcheck

Pin ironic and ironic-inspector for release-24.0
  Dockerfile
Due: none

[DNM] test ci
  Dockerfile
  Makefile
  README.md
Due: shellcheck, markdownlint

Updating openstack-ironic version
  main-packages-list.ocp
Due: none

Split OKD and OCP packages list
  Dockerfile.fcos
  Dockerfile.scos
  main-packages-list.okd
Due: none

Expose individual external URL variables
  README.md
  scripts/configure-ironic.sh
Due: shellcheck, markdownlint

Install ironic and ironic-inspector from source
  Dockerfile.ocp
  main-packages-list.ocp
  prepare-image.sh
  requirements.cachito
Due: shellcheck

Rename IRONIC_INSPECTOR_VLAN_INTERFACES
  README.md
  ironic-config/inspector.ipxe.j2
  ironic-config/ironic.conf.j2
  scripts/configure-ironic.sh
Due: shellcheck, markdownlint

Avoid context copy in CI or local builds
  Dockerfile.ocp
Due: none

Stop using extra-hardware by default
  ironic-inspector-config/ironic-inspector.conf.j2
  scripts/configure-ironic.sh
  scripts/runhttpd
Due: shellcheck

Update ironic dependencies for ocp 4.16
  main-packages-list.ocp
Due: none

Disable ironic-inspector by default
  ironic-config/ironic.conf.j2
  scripts/ironic-common.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: ((\.sh)|^Makefile)$
  markdownlint: any of: (\.md|markdownlint\.sh)$
