Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, markdownlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$

enable container signing
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod

use SecretManager to handle access to cluster secrets
  cmd/main.go
  internal/controller/ironic_controller.go
  internal/controller/utils.go
  pkg/secretutils/label.go
  pkg/secretutils/label_test.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
Due: gomod

Support ironic-image 33.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod

lint: allow long lines in tables and code fences
  .markdownlint-cli2.yaml
Due: gomod

add missing shellcheck
  hack/shellcheck.sh
  test/collect-logs.sh
  test/local-ironic/collect-logs.sh
  test/prepare.sh
  test/run.sh
  test/utils.sh
Due: gomod

Remove support for ironic-image v30
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod

Generalize SecretManager to also handle ConfigMaps
  pkg/secretutils/label.go
  pkg/secretutils/label_test.go
  pkg/secretutils/secret_manager.go
Due: gomod

Use SecretManager for trusted CA config map
  config/rbac/role.yaml
  internal/controller/ironic_controller.go
Due: gomod

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod

Release v0.7.0-rc.0
  releasenotes/v0.7.0-rc.0.md
Due: markdownlint

add AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: gomod, markdownlint

Fix generating release notes with markdown error
  hack/tools/release/notes.go
Due: gomod

Switch to Ironic 33.0 by default, prepare release-0.7
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod

Update "revive" for golangci-lint
  .golangci.yaml
Due: gomod

Fix "revive" linter error after enabling
  internal/webhook/v1alpha1/ironic_webhook.go
  pkg/ironic/ironic.go
  pkg/ironic/secrets.go
  pkg/ironic/utils.go
  test/suite_test.go
Due: gomod

update dependabot config for 0.6 and 0.7
  .github/dependabot.yml
Due: gomod

Release v0.7.0
  releasenotes/v0.7.0.md
Due: markdownlint

Add dependabot config for release-0.7 branch
  .github/dependabot.yml
Due: gomod

pass proxy environment variables to ramdisk-downloader
  pkg/ironic/containers.go
Due: gomod

Enable mnd linter
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  api/v1alpha1/version.go
  cmd/run-local-ironic/main.go
  pkg/ironic/ironic.go
  pkg/ironic/upgrades.go
  test/helpers/database.go
Due: gomod

Enable containerdctx linter
  .golangci.yaml
  pkg/ironic/utils.go
  pkg/secretutils/secret_manager.go
Due: gomod

Enable nilnil linter for golangcilint
  .golangci.yaml
  internal/controller/utils.go
Due: gomod

Enable nilerr linter
  .golangci.yaml
  pkg/ironic/ironic.go
Due: gomod

Add gci formatter
  .golangci.yaml
  cmd/main.go
  internal/controller/ironic_controller.go
  pkg/ironic/ironic.go
  pkg/ironic/utils.go
  pkg/ironic/utils_test.go
Due: gomod

Add clomonitor and openssf scorecard badge
  README.md
Due: markdownlint

Enable nakedret linter
  .golangci.yaml
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/ironic.go
  pkg/ironic/version.go
Due: gomod

Use SecretManager for trusted CA config map
  config/rbac/role.yaml
  internal/controller/ironic_controller.go
  pkg/secretutils/secret_manager.go
Due: gomod

Consolidate Metal3 Contributing guide in community repo
  CONTRIBUTING.md
Due: markdownlint

Bump golang version to 1.24.12
  Dockerfile
  Makefile
Due: gomod

Uplift k8s.io/utils to match the parent gomod
  test/go.mod
  test/go.sum
Due: gomod

:rocket: Release v0.6.2
  releasenotes/v0.6.2.md
Due: markdownlint

:rocket: Release v0.7.1
  releasenotes/v0.7.1.md
Due: markdownlint
