Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, markdownlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Tests: collect logs from cert-manager
  test/collect-logs.sh
Due: gomod

Tests: update versions of dependencies
  test/prepare.sh
Due: gomod

switch to new cncf oracle gh runners
  .github/workflows/functional.yml
Due: gomod

Tests: run helm install in the debug mode
  test/prepare.sh
Due: gomod

Enable variable shadowing check in govet linter
  .golangci.yaml
  internal/controller/ironic_controller.go
  pkg/ironic/ironic.go
Due: gomod

Enforce the JSON RPC port
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod

Fix OSV-Scanner
  .github/workflows/osv-scanner-scan.yml
  .github/workflows/osv-scanner-scheduled.yml
Due: gomod

Add support for BMC CA certificates
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/ironic.go
  pkg/ironic/utils.go
  pkg/ironic/version.go
Due: gomod, markdownlint

Drop support for Ironic older than 30.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/containers.go
  pkg/ironic/ironic.go
  pkg/ironic/upgrades.go
  pkg/ironic/utils.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  test/suite_test.go
Due: gomod

Add a command to run ironic locally using podman
  Makefile
  cmd/run-local-ironic/main.go
  go.mod
  pkg/ironic/ironic.go
  pkg/ironic/local.go
Due: gomod

Adopt OSV scanner workflow from project-infra
  .github/workflows/osv-scanner-scan.yml
  .github/workflows/scheduled-osv-scan.yml
Due: gomod

remove osv scanner from release branches
  .github/workflows/osv-scanner-scan.yml
Due: gomod

Add a simple CI test for local ironic
  .github/workflows/local-ironic.yml
  test/local-ironic/collect-logs.sh
  test/local-ironic/run.sh
  test/local-ironic/scenario-empty.yaml
  test/local-ironic/tear-down.sh
Due: gomod

Add a dnsmasq test for run-local-ironic
  .github/workflows/local-ironic.yml
  test/local-ironic/collect-logs.sh
  test/local-ironic/run.sh
  test/local-ironic/scenario-empty.yaml
  test/local-ironic/scenario-provnet.yaml
  test/local-ironic/tear-down.sh
Due: gomod

add specific time to dependabot config
  .github/dependabot.yml
Due: gomod

Add prior art for prepare release
  docs/releasing.md
Due: markdownlint

Support ironic-image 32.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod

:sparkles: Switch to Ironic 32.0 by default, prepare release-0.6
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod

cmd: strip out symbol table & DWARF debugging info
  Dockerfile
  Makefile
Due: gomod

:rocket: Release v0.6.0
  releasenotes/v0.6.0.md
Due: markdownlint

test/local-ironic/run.sh: bash tidy
  test/local-ironic/run.sh
Due: gomod

:rocket: Release v0.5.2
  releasenotes/v0.5.2.md
Due: markdownlint

:rocket: Release v0.4.1
  releasenotes/v0.4.1.md
Due: markdownlint

Add release target to Makefile
  Makefile
Due: gomod

Update ExtraConfig documentation
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
Due: gomod, markdownlint

Uplift go 1.24.8
  Dockerfile
  Makefile
Due: gomod

Make IrSO configmap name predictable
  .gitignore
  config/manager/kustomization.yaml
Due: gomod

Do not mount service account token on Ironic pods
  pkg/ironic/containers.go
Due: gomod

Overrides: allow appending/changing containers and initContainers
  api/go.mod
  api/go.sum
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/utils.go
  pkg/ironic/utils_test.go
Due: gomod, markdownlint

bump golang to v1.24.9
  Dockerfile
  Makefile
Due: gomod
