Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, markdownlint

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$

Drop deprecated IronicDatabase API and Ironic.DatabaseName
  .golangci.yaml
  PROJECT
  api/v1alpha1/common.go
  api/v1alpha1/ironic_types.go
  api/v1alpha1/ironicdatabase_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ironic.metal3.io_ironicdatabases.yaml
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_ironicdatabases.yaml
  config/crd/patches/webhook_in_ironicdatabases.yaml
  config/rbac/ironicdatabase_editor_role.yaml
  config/rbac/ironicdatabase_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_ironicdatabase.yaml
  internal/controller/ironic_controller.go
  internal/controller/ironicdatabase_controller.go
  internal/controller/utils.go
  pkg/ironic/containers.go
  pkg/ironic/database.go
  pkg/ironic/ironic.go
  pkg/ironic/upgrades.go
  pkg/ironic/utils.go
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
  pkg/ironic/version.go
  test/suite_test.go
Due: gomod

add missing SECURITY_CONTACTS file
  SECURITY_CONTACTS
Due: gomod

add CII badge
  README.md
Due: markdownlint

Bump golang to 1.24.3
  .golangci.yaml
  Dockerfile
Due: gomod

Test: shorten the pod status printed to stdout
  test/suite_test.go
Due: gomod

Test: do not print the service
  test/suite_test.go
Due: gomod

Refactoring: start decomposing the functional test suite
  test/helpers/clients.go
  test/helpers/database.go
  test/helpers/resources.go
  test/suite_test.go
Due: gomod

change functional test to run on larger runner
  .github/workflows/functional.yml
Due: gomod

Split the functional test into upgrades and regular tests
  .github/workflows/functional.yml
  test/run.sh
  test/suite_test.go
Due: gomod

Tests: drop unused variable initialization
  test/run.sh
Due: gomod

Auto-generate human-friendly API documentation from CRDs
  Makefile
  README.md
  docs/api.md
  hack/gen-api-doc.sh
  hack/markdownlint.sh
Due: gomod, markdownlint

Enable tagliatelle linter
  .golangci.yaml
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/validation.go
Due: gomod, markdownlint

Add releasing documentation
  docs/releasing.md
Due: markdownlint

Update to the new releasing workflow
  .github/workflows/release.yaml
  Makefile
  docs/releasing.md
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/release/notes.go
  releasenotes/.gitkeep
Due: gomod, markdownlint

Change the guidance on the branch preparation commit
  docs/releasing.md
Due: markdownlint

Remove outdated parts from releasing
  .github/workflows/release.yaml
  docs/releasing.md
Due: gomod, markdownlint

add link checker workflow
  .github/workflows/pr-link-check.yml
  .github/workflows/scheduled-link-check.yml
  docs/api.md
  hack/gen-api-doc.sh
Due: gomod, markdownlint

bump golang to 1.24.4
  Dockerfile
  Makefile
Due: gomod

Modernize the releasing documentation
  .github/workflows/release.yaml
  Makefile
  docs/releasing.md
Due: gomod, markdownlint

Remove the not-yet-exisiting link
  docs/releasing.md
Due: markdownlint

clean up obsolete release variables from Makefile
  Makefile
Due: gomod

Update supported versions for ironic-image release-30.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod

Switch to Ironic 30.0 by default, prepare release-0.4
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod

:rocket: Release v0.4.0
  releasenotes/v0.4.0.md
Due: markdownlint

add dependabot config for release-0.4 branch
  .github/dependabot.yml
Due: gomod

update docs/releasing.md on dependabot configs
  docs/releasing.md
Due: markdownlint

Set podReplacementPolicy on upgrade jobs
  pkg/ironic/upgrades.go
Due: gomod

Tests: better logs collection for upgrade debugging
  test/suite_test.go
Due: gomod

Tests: do not fail on unavailable container logs
  test/suite_test.go
Due: gomod

Tests: collect more of Kubernetes logs
  test/collect-logs.sh
Due: gomod

Tests: support custom images for IPA-downloader and keepalived
  test/README.md
  test/helpers/resources.go
  test/prepare.sh
  test/utils.sh
Due: gomod, markdownlint

Split HA tests from the rest
  .github/workflows/functional.yml
Due: gomod

Tests: wait for all deleting pods to finish deletion
  test/suite_test.go
Due: gomod

Bump golang to v1.24.5
  Dockerfile
  Makefile
Due: gomod
