Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, markdownlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.23
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

bump golang to v1.24.9
  Dockerfile
  Makefile
Due: gomod

Tests: add a test on upgrading non-HA Ironic with a database
  test/suite_test.go
Due: gomod

Update to Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

Parameterize Makefile container build tool
  Makefile
Due: gomod

Update controller-runtime and Kubernetes libs
  api/go.mod
  api/go.sum
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod, markdownlint

Add support for custom CA certificates
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/rbac/role.yaml
  docs/api.md
  internal/controller/ironic_controller.go
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/local.go
  pkg/ironic/utils.go
Due: gomod, markdownlint

Add support for ironic-prometheus-exporter
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/version.go
  pkg/ironic/version_checks_test.go
Due: gomod, markdownlint

Clean-up version check tests
  pkg/ironic/ironic.go
  pkg/ironic/version.go
  pkg/ironic/version_checks_test.go
  pkg/ironic/version_test.go
Due: gomod

Add tests for ironic-prometheus-exporter
  test/helpers/resources.go
  test/suite_test.go
Due: gomod

Add ServiceMonitor support for Prometheus metrics
  api/v1alpha1/ironic_types.go
  cmd/main.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/rbac/role.yaml
  docs/api.md
  go.mod
  go.sum
  internal/controller/ironic_controller.go
  pkg/ironic/ironic.go
  pkg/ironic/servicemonitor.go
Due: gomod, markdownlint

Conditionally listen for ServiceMonitor resources owned by Ironic
  internal/controller/ironic_controller.go
  internal/controller/utils.go
Due: gomod

Disallow ServiceMonitor with HA
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/validation.go
  pkg/ironic/validation_test.go
Due: gomod, markdownlint

Use CreateOrUpdate for ServiceMonitor handling
  pkg/ironic/servicemonitor.go
Due: gomod

Track secret using their content instead of their version
  pkg/ironic/secrets.go
Due: gomod

Unit tests for secretVersionAnnotations
  pkg/ironic/secrets_test.go
Due: gomod

remove scheduled osv-scanner workflow
  .github/workflows/scheduled-osv-scan.yml
Due: gomod

Bump prometheus-operator to v0.87.0
  go.mod
  go.sum
  pkg/ironic/servicemonitor.go
Due: gomod

add AGENTS.md
  AGENTS.md
Due: markdownlint

add missing markdownlint config file and fix issues
  .markdownlint-cli2.yaml
  CONTRIBUTING.md
  docs/releasing.md
Due: gomod, markdownlint

Add yamllint workflow
  .github/workflows/functional.yml
  .github/workflows/yamllint.yaml
  .golangci.yaml
  .yamllint.yaml
  config/manager/manager.yaml
  config/prometheus/monitor.yaml
  config/testing/manager_irso_config_patch.yaml
  config/webhook/service.yaml
Due: gomod

Bump golangci-lint to v2 and fix issues
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  Makefile
  cmd/run-local-ironic/main.go
  pkg/ironic/containers_test.go
  pkg/ironic/ironic.go
  pkg/ironic/local.go
  pkg/ironic/servicemonitor.go
  pkg/ironic/upgrades.go
  pkg/ironic/utils.go
Due: gomod

use SecretManager to handle access to cluster secrets
  cmd/main.go
  internal/controller/ironic_controller.go
  internal/controller/utils.go
  pkg/secretutils/label.go
  pkg/secretutils/label_test.go
  pkg/secretutils/secret_manager.go
  pkg/secretutils/secret_manager_test.go
Due: gomod

Uplift k8s.io packages
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod

Uplift k8s.io/utils and x/net packages
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gomod

Uplift k8s/utils and x/crypto packages
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: gomod

add image SBOM attestation to image builds
  .github/workflows/build-images-action.yml
  .github/workflows/release.yaml
Due: gomod

:rocket: Release v0.6.1
  releasenotes/v0.6.1.md
Due: markdownlint

:rocket: Release v0.5.3
  releasenotes/v0.5.3.md
Due: markdownlint

:rocket: Release v0.4.2
  releasenotes/v0.4.2.md
Due: markdownlint

bump golang to v1.24.11
  Dockerfile
  Makefile
Due: gomod

Add release artifacts generate
  .github/workflows/release.yaml
  .gitignore
  Makefile
Due: gomod

Fix make lint target
  .golangci.yaml
  Makefile
Due: gomod

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
