Repository metal3-io/ironic-standalone-operator: changes, and which Prow jobs are due for each by the changed paths.
All: gomod, markdownlint

gomod:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/gomod.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/golang:1.23
      imagePullPolicy: Always

markdownlint:
  decorate: true
  spec:
    containers:
    - args:
      - ./hack/markdownlint.sh
      command:
      - sh
      env:
      - name: IS_CONTAINER
        value: 'TRUE'
      image: docker.io/pipelinecomponents/markdownlint-cli2:0.12.0@sha256:a3977fba9814f10d33a1d69ae607dc808e7a6470b2ba03e84c17193c0791aac0
  ...

Bump osv-scanner to v2.1.0
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gomod

Publish the installation manifest on releasing
  .github/workflows/release.yaml
  .gitignore
  Makefile
  config/default/kustomization.yaml
  config/default/manager_image_patch.yaml
Due: gomod

switch to new cncf oracle gh runners
  .github/workflows/functional.yml
Due: gomod

Adjust releasing process for automated image update
  Makefile
  docs/releasing.md
Due: gomod, markdownlint

Adjust RELEASE_TAG calculation for tagging on branches
  Makefile
Due: gomod

bump golang to 1.24.6
  Dockerfile
  Makefile
Due: gomod

Bump k8s modules to v0.33.3 and controller runtime to v0.21.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: gomod

Add Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

Bump OSV scanner action to fix SARIF upload issue
  .github/workflows/osv-scanner-scan.yml
  hack/verify-release.sh
Due: gomod

Add continue-on-error and improve Slack notifications for osv-scanner
  .github/workflows/osv-scanner-scan.yml
Due: gomod

Make the CI job run on the local source again
  Makefile
  config/default/kustomization.yaml
  config/default/manager_image_patch.yaml
  docs/releasing.md
Due: gomod, markdownlint

Tests: increase the timeout in upgrade tests
  test/suite_test.go
Due: gomod

Update supported versions for ironic-image release-31.0
  api/v1alpha1/ironic_types.go
  pkg/ironic/validation_test.go
  pkg/ironic/version_test.go
  test/suite_test.go
Due: gomod

Prepare release 0.5
  Makefile
  config/manager/manager.yaml
  pkg/ironic/version.go
  pkg/ironic/version_test.go
Due: gomod

Release v0.5.0
  releasenotes/v0.5.0.md
Due: markdownlint

Add unit tests for the validating webhook
  pkg/ironic/validation_test.go
Due: gomod

Install kustomize for release workflow
  Makefile
Due: gomod

add release-0.5 to dependabot config
  .github/dependabot.yml
Due: gomod

fix osv-scanner's slack reporting
  .github/workflows/osv-scanner-scan.yml
Due: gomod

Add path-prefix to make lint
  Makefile
Due: gomod

Re-trigger release workflow (or try to)
  releasenotes/v0.5.0.md
Due: markdownlint

Tests: increase the node testing timeout for the non-HA case
  test/suite_test.go
Due: gomod

:rocket: Release v0.5.1
  releasenotes/v0.5.1.md
Due: markdownlint

Tests: do not try to save events for skipped tests
  test/suite_test.go
Due: gomod

Revert "Tests: increase the node testing timeout for the non-HA case"
  test/suite_test.go
Due: gomod

Add support for overrides for generated pods
  api/v1alpha1/features.go
  api/v1alpha1/ironic_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  config/testing/manager_feature_gates_patch.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  pkg/ironic/utils.go
  pkg/ironic/utils_test.go
Due: gomod, markdownlint

Also apply overrides to upgrade jobs
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/upgrades.go
Due: gomod, markdownlint

Enforce the JSON RPC port
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
Due: gomod

Move the JSON RPC port from 8089 to 6189
  api/v1alpha1/ironic_types.go
  config/crd/bases/ironic.metal3.io_ironics.yaml
  docs/api.md
  pkg/ironic/containers.go
  pkg/ironic/containers_test.go
  test/kind.yaml
  test/suite_test.go
Due: gomod, markdownlint

Export IPA_BASEURI to have stable tests
  config/testing/kustomization.yaml
  config/testing/manager_irso_config_patch.yaml
  pkg/ironic/containers.go
Due: gomod

Export IPA_BASEURI to have stable tests in release-0.4
  config/testing/kustomization.yaml
  config/testing/manager_irso_config_patch.yaml
  pkg/ironic/containers.go
Due: gomod

Export IPA_BASEURI to have stable tests in release-0.5
  config/testing/kustomization.yaml
  config/testing/manager_irso_config_patch.yaml
  pkg/ironic/containers.go
Due: gomod

Path conditions:
  gomod: unless all of: (((^|/)OWNERS)|((^|/)OWNERS_ALIASES)|(\.md))$
  markdownlint: any of: (\.md|markdownlint\.sh)$
